$accent-color: #ccc;
$primary-text-color: #999;
$secondary-text-color: #666;
$bg-color: #f2f2f2;

@mixin transition($property, $time){
    -webkit-transition: $property $time; 
    transition: $property $time;
}