@import 'vars_and_mixins';

// Wrapper
.testimonial--carousel{
    display: flex;
    font-family: sans-serif;
    color: $primary-text-color;
    font-weight: normal;
    font-size: 1em;
    justify-content: center;
    min-height: 550px;
    @media only screen and (min-width: 960px) {}
}

// Slide
.testimonial--carousel article {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    text-align: left;
    @include transition(all, 2s);
    @media only screen and (min-width: 960px) {}

    &.x_active {
        opacity: 1;
        @include transition(all, 2s);
    }
    
    .testimonial--image{
        min-width: 100%;
    }
    
    .testimonial--excerpt{
        display: flex;
        flex-shrink: 1;
        flex-grow: 0;
    }

    .testimonial--attribution{
        display: flex;
        flex-direction: column;

        .attribution--name {
            color: $secondary-text-color;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2em;
            display: flex;
        }
        .attribution--title {
            font-weight: bold;
            display: flex;
        }
    }
}


/**
    Links
**/

.testimonial--links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .single-testimonial-btn, .all-testimonials-btn {
        display: flex;
        margin: 10px;
        flex-shrink: 1;
        flex-grow: 0;
    }
}

/**
 Carousel Controllers
**/

.controllerContainer{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: stretch;
    position: relative;
    z-index:99999999;
    justify-content: center;

    .carouselController.prev, .carouselController.next{
        border: solid 1px $accent-color;
        padding: 10px 20px;
        display: flex;
        flex-grow: 1;
        background: #fff;
        justify-self: center;
    }   
}