article.testimonial {
}


.testimonial-carousel {
    position: relative;
    height: 300px;
    overflow: scroll;
}

.testimonial-carousel article {
    position: absolute;
    display: none;
}

.testimonial-carousel article.active {
    display: block;
}

.carouselController {
    position: relative;
    z-index:999999;
}